page{padding-bottom: 10px!important;}
/* 头部 */
.order-class{display: flex;}
.order-class .nav-tab{height: 44px;line-height: 44px;text-align: center;font-size: 14px;color: #333;width: 100%;}

.selected {color: #ff721f;border-bottom: 2px solid #ff721f;}


/* 列表 */
.order_info{display: flex;}
.order_info .pro_img .img{width: 160upx;height: 160upx;display: flex;border-radius: 10upx;}
.order_info .order_count{height: 40px;line-height: 40px;display: flex;justify-content: flex-end;}


.order-list{background: #fff;position: relative;}
.order-list .pro-info{display: flex;justify-content: space-between;}
.order-list .pro-info .p{margin: 0;color: #999;font-size: 12px;}
.order-list .title{position: relative;padding: 10px;margin-bottom: 0;display: flex;}
.order-list .title .head{width: 40px;height: 40px;border-radius: 6px;display: flex;}
.order-list .title .userInfo{width: 100%;flex: 1;overflow: hidden;}
.order-list .title .userInfo ._p{line-height: 20px;}
.order-list .title .price{color: #ff4400;text-align: right;}
.order-list .title .price ._p{line-height: 20px;} 