._section{overflow-x: hidden;}
.box{overflow-x: hidden;}


.search-top{position: fixed;top: 0;left: 0;width: 100%;z-index: 9;}


/* banner轮播 */
#banner{position: relative;}
#banner ._img,#banner image{width: 100%!important;border-radius: 6px;}


/* 导航按钮 */
.fun_button{padding: 5px;background: white;}
.fun_button_con{display: flex;flex-wrap: wrap;}
.fun_button_con .a {width: 25%;padding: 5px;text-align: center;}
.fun_button_con .a .button-img {text-align: center;text-align: -webkit-center;}
.fun_button_con .a .button-img .img{width: 44px;height: 44px;display: flex;justify-content: center;border-radius: 10px;}


/* 块标题 */
.ass-title{display: flex;justify-content: space-between;}
.ass-title .name{line-height: 16px;height: 16px;border-left: 4px #017bc4 solid;padding-left: 8px;}
.ass-title .icon{text-align: right;line-height: 16px;height: 16px;}


/* 查看更多 */
.hasMore{background: #fff;}
.hasMore .weui-loadmore{padding:1.5em 0;margin: 0;width: 100%;}
