@font-face {
  font-family: 'iconfont';  /* project id 906512 */
  src: url('//at.alicdn.com/t/font_906512_28prserxxkt.eot');
  src: url('//at.alicdn.com/t/font_906512_28prserxxkt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_906512_28prserxxkt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_906512_28prserxxkt.woff') format('woff'),
  url('//at.alicdn.com/t/font_906512_28prserxxkt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_906512_28prserxxkt.svg#iconfont') format('svg');
}

/* 后台图标 - 通用 */

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-left:before{content: "\e910";}/* 左 */
.icon-right:before{content: "\e911";}/* 右 */
.icon-top:before{content: "\e913";}/* 上 */
.icon-bottom:before{content: "\e912";}/* 下 */
.icon-off:before{content: "\ea03";}/* 关闭 */


/* 福加斯 */
.icon-fjs-vip:before{content: "\e7e4";}/* 会员管理 */
.icon-fjs-hospital:before{content: "\e6a8";}/* 医院管理 */
.icon-fjs-doctor:before{content: "\e68d";}/* 医生管理 */
.icon-fjs-coupon:before{content: "\e6a7";}/* 优惠券 */
.icon-fjs-article:before{content: "\e6e6";}/* 文章管理 */
.icon-fjs-config:before{content: "\e63b";}/* 设置 */
.icon-fjs-video:before{content: "\e73f";}/* 视频管理 */
.icon-fjs-pro:before{content: "\e68a";}/* 产品管理 */



.icon-fjs-:before{content: "\e";}/*  */