
/* 头部 */
.order-class{display: flex;}
.order-class .nav-tab{height: 44px;line-height: 44px;text-align: center;font-size: 14px;color: #333;width: 100%;}

.selected {color: #ff721f;border-bottom: 2px solid #ff721f;}
.del-icon{border-radius: 50%;width: 26px;height: 26px;line-height: 26px;text-align: center;}


/* 列表 */
.pro_info{background: #fff;}
.pro_info .order_date{height: 100upx;line-height: 100upx;display: flex;justify-content: space-between;align-items: center;}
.pro_info .order_info{display: flex;}
.pro_info .order_info .pro_img .img{width: 160upx;height: 160upx;display: flex;border-radius: 10upx;}
.pro_info .order_count{height: 40px;line-height: 40px;display: flex;justify-content: flex-end;}


.pro_info .pro_right{flex: 1;overflow: auto;width: 100%;display: flex;align-content: space-between;height: 160upx;flex-wrap: wrap;}


.pro_info .btn-item{display: flex;justify-content: flex-end;}
.pro_info .btn-item .btn-nav{width: 80px;height: 30px;line-height: 28px;border: 1px #ddd solid;border-radius: 6px;color: #555;font-size: 26upx;text-align: center;margin-left: 10px;display: block;}
.pro_info .btn-item .btn-nav:last-child{background: #FE4543;border: 0;color: #fff;line-height: 30px;}
.pro_info .btn-item .obtn{border: 1px #ddd solid!important;background: #fff!important;color: #555!important;}