/* app.wxss */
page{background: #f5f5f5;}
view,sroll-view,swiper,icon,text,progress,button,checkbox,form,input,label,input,picker,radio,slider,switch,action-sheet,modal,toast,loading,navigator,audio,image,video,map,canvas,div,span,p,section {box-sizing: border-box;}
button{padding: 0 10px;}
button::after{border: 0;}
uni-page-body{height: 100%;}


/* 主色调 */
.main-color{color: #0F8CFF;}
.main-bg{background: #0F8CFF;}


/* 灰底 */
.f2-body{min-height: 100%;background: #f2f2f2;}


/* --覆盖层-- */
.share-overlay{ position:fixed; top:0px; right:0; bottom:0; left:0; z-index:20; width:100%; height:800px; background:#000; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}


/* 顶部搜索框 */
.searchTop {width: 100%;height: 80rpx;line-height: 80rpx;font-size: 21px;border-bottom: 1px solid rgba(223, 223, 221,0);display: flex;z-index: 2;}
.searchTop .select-city{padding: 0 20rpx;width: 200rpx;}
.searchTop .select-city .iconfont{font-size: 24rpx!important;}
.searchTop .search-input{margin: 6rpx 10rpx;position: relative;background: rgba(255,255,255,0.7);border-radius: 20px;border: 1px #ddd solid;width: 100%;line-height: 68rpx;}
.searchTop .search-input .a{display: flex;align-items: center;height: 64rpx;padding-left: 20rpx;line-height: 64rpx;}
.searchTop .search-input .span{display: flex;line-height: 64rpx;padding-left: 15px;}


/* weui自定义样式 */
.weui-cell .weui-label,
.weui-cell .weui-input,
.weui-cells__title,
.weui-cell__bd .picker,
.weui-cell .weui-input .uni-input-input,
.weui-cell .weui-input .uni-input-placeholder,
.weui-cell .weui-input .uni-textarea-textarea,
.weui-cell .weui-input .uni-textarea-placeholder
{font-size: 16px;}
.weui-cell{padding: 10px 15px!important;}
.weui-cell .weui-label,.weui-cell .weui-input,.weui-cells__title,.weui-cell__bd .picker{font-size: 15px;}


/* banner轮播 */
.swiper_box image {width: 100%;}
.banner img{display: flex;}


/* button */
.dx-btn-blue{background-color: #0F8CFF!important;}
.dx-btn-big span{font-size: 17px;}
.dx-btn-lg span{font-size: 16px;}
.wxform uni-button{border-radius: 4px!important;}


/* 上传图片重新定义 */
.upload-img .uploadvalue ._button{width: 80px;height: 80px;line-height: 78px;}


/* 定位底部 */
.b_fixed {position: fixed;bottom: 0;left: 0;width: 100%;}
.Footer{height: 50px;}
.Footer .nav{width: 100%;text-align: center;line-height: 50px;font-size: 16px;}


/* 按钮组:start */
	

/* 按钮组:ending */


/* 新闻列表 */
.news-list .list-group-item {border-radius: 0;padding: 20rpx;position: relative;border-bottom: 1px solid #ededed;}
.news-list .npic {float: left;margin-right: 20rpx;width: 120px;height: 70px;}
.news-list .h5 {font-weight: 400;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size: 16px;margin-bottom: 5px;}
.news-list .list-group-item-text {line-height: 18px;height: 36px;overflow: hidden;color: #666;font-size: 14px;}
.news-list .p2 {display: flex;line-height: 20px;color: #666;font-size: 14px;}
.news-list .p2 .num {width: 70px;}


/* 商品列表 */
.pro-list{background: #f7f7f7;}
.pro-list .pro-title{white-space: nowrap;padding: 15px 18px;border-top: 8px #f7f7f7 solid;background: #fff;}
.pro-list .pro-title .txt{border-left: 2px solid #ff5400;padding-left: 6px;display: block;line-height: 22px;color: #333;}
.pro-list .pro-title .iconfont{color: #888;}
.pro-list .pro-title .icon{color: #999;line-height: 22px;}
.pro-list .porducts{border: 4px #f7f7f7 solid;}
.pro-list .pro-div{position: relative;width: 50%;border: 4px #f7f7f7 solid;background: #fff;box-sizing:border-box;}
.pro-list .cms_cover image{width: 100%;height: 27.779vh;display: flex;}
.pro-list .cms_title {margin: 0 auto;padding: 6px 8px 0;color: #373737;}
.pro-list .cms_title navigator{color: #333;line-height: 20px;}
.pro-list .cms_price{line-height: 22px;display: flex;height: 22px;padding: 0 5px;}
.pro-list .cms_price .cprice{padding-left: 8px;padding-top: 2px;}
.pro-list .copy{margin-bottom: 70px;color: #999;text-align: center;}


.pro-line .porducts{padding: 6px;background: #fff;border: 0;}
.pro-line .pro-div{border: 0;padding: 6px;}
.pro-line .pro-box{border: 1px #eee solid;border-radius: 6px;}
.pro-line .pro-box .cms_cover image{border-radius: 6px 6px 0 0;}
.pro-line .pro-box .cms_price{margin-bottom: 5px;}


.pro_lists .pro_item,.pro_lists .pro_item myform{background: #fff;box-sizing:border-box;display: flex;padding: 15px;border-bottom: 1px #eee solid;}
.pro_lists .cms_cover{padding-right: 10px;position: relative;}
.pro_lists .cms_cover .img{width: 200upx;height: 200upx;display: flex;}
.pro_lists .cms_cover .nobuy{position: absolute;top: 0;left: 0;width: 200upx;height: 200upx;text-align: center;line-height: 200upx;color: #fff;font-size: 14px;background: rgba(0,0,0,0.35);}
.pro_lists .pro_info{width: 100%;flex: 1;overflow: hidden;display: flex;flex-wrap: wrap;align-content: space-between;}
.pro_lists .cms_title{color: #333;line-height: 20px;width: 100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.pro_lists .cms_type{line-height: 34upx;}
.pro_lists .cms_type .tig{font-size: 22upx;color: #FF4244;padding: 0 10upx;border-radius: 6upx;border: 1upx #FF4244 solid;display: inline-block;height: 34upx;line-height: 32upx;margin: 0 10upx 10upx 0;}
.pro_lists .self_num{display: inline-block;}
.pro_lists .cms_title2{line-height: 20px;height: 40px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;width: 100%;}
.pro_lists .cms_mark{color: #999;line-height: 18px;height: 36px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;width: 100%;}
.pro_lists .cms_price{line-height: 20px;align-items: flex-end;}
.pro_lists .cms_price .cprice{padding: 4px 0 0 5px;line-height: 16px;}