.couponList .item_box {position: relative;display: flex;}
.couponList .limg .img {border-radius: 5px;width: 90px;height: 90px;display: flex;}
.couponList .lcon{min-height: 84px;align-content: space-between;}
.couponList .cmark{min-height: 32px;}
.couponList .rdis{width: 58px;text-align: center;align-content: center;}
.couponList .rdis .price {height: 32px;line-height: 32px;color: #FF8125;background-image: -webkit-linear-gradient(bottom, red, #fd8403, yellow);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.couponList .type {background: rgba(255, 129, 37, 0.2);color: #FF8125;width: 46px;height: 18px;line-height: 18px;text-align: center;margin: 5px 6px 0;}
.couponList .s-btn{border-radius: 24px;color: #FFF;font-family: '黑体';height: 24px;line-height: 24px;}