@font-face {
  font-family: 'iconfont';  /* project id 594334 */
  src: url('//at.alicdn.com/t/font_594334_w14y8lqt3hq.eot');
  src: url('//at.alicdn.com/t/font_594334_w14y8lqt3hq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_594334_w14y8lqt3hq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_594334_w14y8lqt3hq.woff') format('woff'),
  url('//at.alicdn.com/t/font_594334_w14y8lqt3hq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_594334_w14y8lqt3hq.svg#iconfont') format('svg');
}

/* 3314024140@qq.com  dx3229010  融E修 */

.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-top:before{content: "\e913";}/* 上 */
.icon-bottom:before{content: "\e912";}/* 下 */
.icon-left:before{content: "\e910";}/* 右 */
.icon-right:before{content: "\e911";}/* 右 */
.icon-plus:before{content: "\e987";}/* 加 */
.icon-minus:before{content: "\e986";}/* 减 */
.icon-count-plus:before{content: "\e987";}/* 加 */
.icon-count-minus:before{content: "\e986";}/* 减 */
.icon-del:before{content: "\e984";}/* 删除-垃圾桶 */
.icon-location:before{content: "\e982";}/* 定位 */
.icon-location-co:before{content: "\e985";}/* 定位-空心带圈 */
.icon-location-o:before{content: "\e603";}/* 定位-空心 */
.icon-off:before{content: "\e6e0";}/* 关闭 */
.icon-off-co:before{content: "\ec33";}/* 圆圈-关闭 */
.icon-off-co-o:before{content: "\e979";}/* 圆圈-关闭-空 */
.icon-tel:before{content: "\e983";}/* 电话 */
.icon-phone:before{content: "\e63c";}/* 手机 */
.icon-coupon:before{content: "\e6b4";}/* 优惠券 */
.icon-pic:before{content: "\e674";}/* 图片 */
.icon-people:before{content: "\e675";}/* 人员 */
.icon-user:before{content: "\e616";}/* 用户 */
.icon-myAcclunt:before{content: "\e640";}/* 余额 */
.icon-share:before{content: "\e654";}/* 分享达人 */
.icon-search:before{content: "\e615";}/* 搜索 */
.icon-home:before{content: "\ef36";}/* 首页 */


.icon-pro-shop:before{content: "\e668";}/*  */

.icon-intergral-record:before{content: "\e69a";}/* 兑换记录 */


.icon-pay-no:before{content: "\e988";color: #E84335;}/* 支付失败 */
.icon-pay-yes:before{content: "\e989";color: #09BB07;}/* 支付成功 */


.icon-user-coupon-e:before{content: "\e976";color: #FE9679;}/* 优惠券 */
.icon-user-about:before{content: "\e74f";color: #4A81C3;}/* 关于我们 */
.icon-user-tel:before{content: "\e608";color: #E84335;}/* 电话 */
.icon-user-store:before{content: "\e61a";color: #2AC17E;}/* 商家中心 */


.icon-float-share-o:before{content: "\e696";}/* 浮动分享-小 */


.icon-float-tel-o:before{content: "\e628";}/* 浮动电话 */
.icon-float-tel:before{content: "\e983";}/* 浮动电话 */
.icon-float-feedback-o:before{content: "\e69f";}/* 浮动留言 */
.icon-float-feedback:before{content: "\e600";}/* 浮动留言 */



.icon-:before{content: "\e";}/*  */