/* 头部背景 */
.Uhead-info{position: relative;}
.Uhead-bg .img,.Uhead-bg img{width: 100%;display: flex;}
.Utop-quit{position: absolute;top: 8px;right: 10px;background: #f5f5f5;padding: 0 12px;height: 26px;line-height: 26px;color: #666;font-size: 12px;border-radius: 3px;}


/* 用户信息 */
.Utop{width: 100%;}
.Utop .Uinfo{display: flex;align-items: center;position: relative;height: 50px;}
.Utop .Uinfo .header-img .img{width: 50px;height: 50px;border-radius: 50%;display: flex;}
.Utop .Uinfo .info{flex: 1;overflow: hidden;}


/* 企业列表 */
.company-item{display: flex;justify-content: space-between;padding: 12px 15px;border-bottom: 1px #eee solid;}
.company-item .left-info{flex: 1;overflow: hidden;}
.company-item .right-icon{padding-left: 15px;font-size: 26px;color: #3485fb;line-height: 30px;}